In [1]:
!pip install pymysql sqlalchemy

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Requirement already satisfied: sqlalchemy in c:\users\rproject\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rproject\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [5]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from sqlalchemy import create_engine
import pandas as pd

In [13]:
## Database 접속정보
DB_id = 'root'
DB_pw = '####'
DB_host = 'localhost'
DB_port = '3306'
DB_db = 'data2022'

## DB 연결
engine = create_engine("mysql+mysqldb://"+DB_id+":"+DB_pw+"@"+DB_host+":"+DB_port+"/"+DB_db, encoding='euckr')
con = engine.connect()

In [14]:
## Table list
query = 'show tables'
pd.read_sql(query, con)

        Tables_in_data2022
0               department
1                 employee
2             student_info
3            student_info3
4       tashu_station_info
5       tashu_using_status
6  tashu_using_status_copy
7                v_대여반납_이름

In [15]:
## Read table
data = pd.read_sql_table('tashu_station_info', con)
data

,번호,대여소명,거치대_수,구,주소,위도,경도,구역,인터넷,CCTV,거치대_종류,구조
0,1,무역전시관입구(택시승강장),14,유성구,도룡동 3-8,36.3746,127.386,1구역,,1,평면,일자형
1,2,대전컨벤션센터,20,유성구,도룡동 4-19,36.3744,127.392,1구역,,2,평면,일자형
2,3,한밭수목원1,19,서구,만년동 396,36.3691,127.388,1구역,,2,평면,일자형
3,4,초원아파트(104동 버스정류장),12,서구,만년동 401,36.3679,127.379,2구역,,2,평면,일자형
4,5,둔산대공원 입구(버스정류장),13,서구,둔산2동 1521-10,36.3650,127.389,1구역,,2,평면,일자형
...,...,...,...,...,...,...,...,...,...,...,...,...
256,257,대전테크노파크,15,유성구,용산동 605,36.4209,127.405,7구역,무선,0,평면,일자형
257,258,천문대입구,12,유성구,신성동 458,36.3828,127.355,7구역,무선,0,평면,일자형
258,259,대덕대학교,14,유성구,장동 48,36.3905,127.362,7구역,무선,0,평면,일자형
259,260,오정농수산물 도매시장,15,대덕구,오정동 45-1,36.3577,127.408,1구역,무선,0,평면,일자형
260,261,도로교통공단(건너편 라도무스),15,유성구,원신흥동 608,36.3327,127.333,3구역,무선,0,평면,일자형

In [17]:
data.shape

(261, 12)

In [18]:
## Copy data frames to database tables
# if_exists = 'replace' : 기존에 있다면 덮어쓰기
data.to_sql(name = 'tashu_station_info_copy', con = con, if_exists = 'replace', index = False)

261

In [22]:
## Read SQL result
query = '''
    select *
    from tashu_using_status
    where `대여스테이션` = 1
'''

df = pd.read_sql(query, con)
df.head()

   대여스테이션            대여일시  반납스테이션            반납일시  이동거리 회원구분
0       1  20190700000000       3  20190700000000  1510    2
1       1  20190700000000       3  20190700000000  1510    2
2       1  20190700000000     201  20190700000000   810    1
3       1  20190700000000     201  20190700000000     0    1
4       1  20190700000000      56  20190700000000  5190    1

In [23]:
## Query 실행
query = 'drop table tashu_using_stat_copy'
con.execute(query)

OperationalError: (pymysql.err.OperationalError) (1051, "Unknown table 'data2022.tashu_using_stat_copy'")
[SQL: drop table tashu_using_stat_copy]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
## Database 연결 끊기
con.close()